@import "header.css";
@import "form.css";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #4f5959;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    max-width: 1400px;
    min-width: 1200px;
    margin: auto;
    padding: 2em;
}
.mask{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.3);
    z-index: 1;
}


